/ {
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
        };

        // Hungarian Unicode
        lc_aa: uc_aa { compatible = "zmk,behavior-unicode"; label = "á"; code = <0x00E1>; };
        uc_aa: uc_aa_u { compatible = "zmk,behavior-unicode"; label = "Á"; code = <0x00C1>; };
        lc_ee: uc_ee { compatible = "zmk,behavior-unicode"; label = "é"; code = <0x00E9>; };
        uc_ee: uc_ee_u { compatible = "zmk,behavior-unicode"; label = "É"; code = <0x00C9>; };
        lc_ii: uc_ii { compatible = "zmk,behavior-unicode"; label = "í"; code = <0x00ED>; };
        uc_ii: uc_ii_u { compatible = "zmk,behavior-unicode"; label = "Í"; code = <0x00CD>; };
        lc_oo: uc_oo { compatible = "zmk,behavior-unicode"; label = "ó"; code = <0x00F3>; };
        uc_oo: uc_oo_u { compatible = "zmk,behavior-unicode"; label = "Ó"; code = <0x00D3>; };
        lc_oe: uc_oe { compatible = "zmk,behavior-unicode"; label = "ö"; code = <0x00F6>; };
        uc_oe: uc_oe_u { compatible = "zmk,behavior-unicode"; label = "Ö"; code = <0x00D6>; };
        lc_oee: uc_oee { compatible = "zmk,behavior-unicode"; label = "ő"; code = <0x0151>; };
        uc_oee: uc_oee_u { compatible = "zmk,behavior-unicode"; label = "Ő"; code = <0x0150>; };
        lc_uu: uc_uu { compatible = "zmk,behavior-unicode"; label = "ú"; code = <0x00FA>; };
        uc_uu: uc_uu_u { compatible = "zmk,behavior-unicode"; label = "Ú"; code = <0x00DA>; };
        lc_ue: uc_ue { compatible = "zmk,behavior-unicode"; label = "ü"; code = <0x00FC>; };
        uc_ue: uc_ue_u { compatible = "zmk,behavior-unicode"; label = "Ü"; code = <0x00DC>; };
        lc_uee: uc_uee { compatible = "zmk,behavior-unicode"; label = "ű"; code = <0x0171>; };
        uc_uee: uc_uee_u { compatible = "zmk,behavior-unicode"; label = "Ű"; code = <0x0170>; };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
                &kp Q      &kp W      &kp E      &kp R      &kp T
                &kp Y      &kp U      &kp I      &kp O      &kp P
                &ht LSHFT A &ht LALT S &ht LCTRL D &ht LGUI F &kp G
                &kp H      &ht RGUI J &ht RCTRL K &ht RALT L &kp SQT
                &kp Z      &kp X      &kp C      &kp V      &kp B
                &kp N      &kp M      &kp COMMA  &kp DOT    &kp FSLH
                &lt 2 TAB  &kp ENTER  &kp SPACE  &lt 1 BSPC
            >;
        };

        right_layer {
            display-name = "Right";
            bindings = <
                &kp INS   &kp N1    &kp N2    &kp N3    &trans
                &kp HOME  &kp PG_DN &kp PG_UP &kp END   &kp COLON
                &kp DEL   &kp N4    &kp N5    &kp N6    &trans
                &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT &kp SEMI
                &caps_word &kp N7   &kp N8    &kp N9    &kp N0
                &trans    &kp ESC   &trans    &trans   &trans
            >;
        };

        left_layer {
            display-name = "Left";
            bindings = <
                &trans  &kp LBKT &kp LBRC &kp RBRC &trans
                &kp CARET &kp LPAR &kp RPAR &kp RBKT &kp TILDE
                &kp EXCL  &kp AT   &kp HASH &kp DLLR &kp PRCNT
                &kp ASTRK &kp MINUS &kp EQUAL &kp BSLH &kp GRAVE
                &trans &trans &trans &trans &trans
            >;
        };

        hun_layer {
            display-name = "Hungarian";
            bindings = <
                &lc_aa &uc_aa &lc_ee &uc_ee &lc_ii
                &uc_ii &lc_oo &uc_oo &lc_oe &uc_oe
                &lc_oee &uc_oee &lc_uu &uc_uu &lc_ue
                &uc_ue &lc_uee &uc_uee &trans &trans
            >;
        };
    };
};
