/ {
    behaviors {
        // Home row mods (left hand)
        ht_lshft: ht_lshft { compatible = "zmk,behavior-hold-tap"; #binding-cells = <2>; flavor = "tap-preferred"; tapping-term-ms = <220>; bindings = <&kp A>, <&kp LSFT>; };
        ht_lalt:  ht_lalt  { compatible = "zmk,behavior-hold-tap"; #binding-cells = <2>; flavor = "tap-preferred"; tapping-term-ms = <220>; bindings = <&kp S>, <&kp LALT>; };
        ht_lctrl: ht_lctrl { compatible = "zmk,behavior-hold-tap"; #binding-cells = <2>; flavor = "tap-preferred"; tapping-term-ms = <220>; bindings = <&kp D>, <&kp LCTRL>; };
        ht_lgui:  ht_lgui  { compatible = "zmk,behavior-hold-tap"; #binding-cells = <2>; flavor = "tap-preferred"; tapping-term-ms = <220>; bindings = <&kp F>, <&kp LGUI>; };

        // Home row mods (right hand)
        ht_rgui:  ht_rgui  { compatible = "zmk,behavior-hold-tap"; #binding-cells = <2>; flavor = "tap-preferred"; tapping-term-ms = <220>; bindings = <&kp J>, <&kp RGUI>; };
        ht_rctrl: ht_rctrl { compatible = "zmk,behavior-hold-tap"; #binding-cells = <2>; flavor = "tap-preferred"; tapping-term-ms = <220>; bindings = <&kp K>, <&kp RCTRL>; };
        ht_ralt:  ht_ralt  { compatible = "zmk,behavior-hold-tap"; #binding-cells = <2>; flavor = "tap-preferred"; tapping-term-ms = <220>; bindings = <&kp L>, <&kp RALT>; };
        ht_rshft: ht_rshft { compatible = "zmk,behavior-hold-tap"; #binding-cells = <2>; flavor = "tap-preferred"; tapping-term-ms = <220>; bindings = <&kp SQT>, <&kp RSHFT>; };

        // Thumb layer-taps
        lt_space: lt_space { compatible = "zmk,behavior-layer-tap"; #binding-cells = <2>; tapping-term-ms = <200>; bindings = <&kp SPACE>, <1>; };
        lt_bspc:  lt_bspc  { compatible = "zmk,behavior-layer-tap"; #binding-cells = <2>; tapping-term-ms = <200>; bindings = <&kp BSPC>, <2>; };
        lt_tab:   lt_tab   { compatible = "zmk,behavior-layer-tap"; #binding-cells = <2>; tapping-term-ms = <200>; bindings = <&kp TAB>, <3>; };
        lt_esc:   lt_esc   { compatible = "zmk,behavior-layer-tap"; #binding-cells = <2>; tapping-term-ms = <200>; bindings = <&kp ESC>, <4>; };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
                // Left hand
                &kp Q      &kp W      &kp E      &kp R      &kp T
                &ht_lshft  &ht_lalt  &ht_lctrl  &ht_lgui  &kp G
                &kp Z      &kp X      &kp C      &kp V      &kp B
                &lt_space

                // Right hand
                &kp Y      &kp U      &kp I      &kp O      &kp P
                &ht_rgui  &ht_rctrl  &ht_ralt  &ht_rshft  &kp H
                &kp N      &kp M      &kp COMMA  &kp DOT    &kp FSLH
                &lt_bspc
            >;
        };

        // NUM Layer: numbers on home row
        layer_num {
            display-name = "NUM";
            bindings = <
                &kp 1      &kp 2      &kp 3      &kp 4      &kp 5
                &kp 6      &kp 7      &kp 8      &kp 9      &kp 0
                &trans     &trans     &trans     &trans     &trans
                &trans

                &trans     &trans     &trans     &trans     &trans
                &trans     &trans     &trans     &trans     &trans
                &trans     &trans     &trans     &trans     &trans
                &trans
            >;
        };

        // SYM Layer: symbols
        layer_sym {
            display-name = "SYM";
            bindings = <
                &kp GRAVE &kp LBKT &kp RBKT &kp MINS &kp PIPE
                &kp CIRC  &kp LCBR &kp RCBR &kp QUES &kp DLR
                &kp TILD  &kp PLUS &kp LBRC &kp RBRC &kp PERC
                &kp AT

                &trans &trans &trans &kp DEL &trans
                &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans
                &trans
            >;
        };

        // UTIL Layer: arrows + media + function keys
        layer_util {
            display-name = "UTIL";
            bindings = <
                &kp WWW_FORWARD &kp HOME &kp PGUP &kp BRIU &kp VOLU
                &kp MNXT &kp F1 &kp F2 &kp F3 &kp F4
                &kp WWW_BACK &kp END &kp PGDN &kp BRID &kp VOLD
                &kp MPRV

                &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans
                &trans
            >;
        };

        // HUN Layer: Hungarian characters
        layer_hun {
            display-name = "HUN";
            bindings = <
                &trans &trans &trans &trans &trans
                &trans UP(LC_UE, UC_UE) UP(LC_UU, UC_UU) UP(LC_UEE, UC_UEE) UP(LC_OEE, UC_OEE)
                &trans UP(LC_AA, UC_AA) &trans &trans &trans &trans
                &trans &trans UP(LC_EE, UC_EE) UP(LC_II, UC_II) UP(LC_OO, UC_OO) &trans
                &trans &trans &trans &trans UP(LC_OE, UC_OE) &trans
                &trans UC_NEXT UC_PREV &trans &trans &trans
            >;
        };
    };
};
