/ {
    aliases {
        vbatt = &vbatt;
    };
};

&adc {
    status = "okay";
};

&vbatt {
    compatible = "zephyr,battery";
    status = "okay";
    io-channels = <&adc 0>;
    divider-microvolt = <500000>;
};
