/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "cradio.dtsi"

&default_transform {
    col-offset = <17>;
};

&vbatt {
    output-ohms = <806000>;
    full-ohms   = <8988094>;  // Adjusted for right board (4.2 V -> 100%)
};



