/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "cradio.dtsi"

&vbatt {
    output-ohms = <806000>;
    full-ohms   = <7963000>;  // Adjusted to match 4.2V = 100%
};

