/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "cradio.dtsi"

&default_transform {
    col-offset = <17>;
};

&vbatt {
    output-ohms = <806000>;         // bottom resistor (ADC → GND), keep as-is
    full-ohms = <7990000>;          // scale factor ~9.95 → full-ohms = output-ohms * scale / (1 - 1/scale)
};


